body {
    width: auto;
    height: 100%;
    overflow: no-display;
    font-family: 'Century Gothic';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*@font-face {
      font-family: 'Graublau Web';
      src: url('GraublauWeb.eot?') format('eot'), url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
    }*/
}

#GoogleMap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#Logo {
    position: relative;
    top: 3px;
    left: 60px;
    z-index: 2;
    height: 96px;
}
#Tweets{
    top: 150px;
    z-index: 2;
    width: 99%;
    height: calc(99% - 96px);
    overflow-x: hidden;
    overflow-y: scroll;
}
#ServiceStatus {
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 35px;
    left: 60px;
    z-index: 3;
    background-color: red;
}
#LoginSection {
    position: fixed;
    width: 300px;
    height: 200px;
    background-color: hsla(125, 5%, 35%, 0.85);
    top: 40%; /* change to calcs */
    left: 40%; /* change to calcs */
    color: white;
    z-index: 4;
    padding: 20px;
    border-radius: 10px;
}
.LoginText{
    text-align: right;
    width: 100px;
}
.LoginInput{
    text-align: left;
}
.LoginInput input{
    width: 190px;
}
#LoginButton {
    border-radius: 4px;
}

#ContentLeft, #ContentRight {
    width: 300px;
    height: 98%;
    background-color: hsla(125, 5%, 35%, 0.85);
    position: absolute;
    top: 1%;
    color: white;
    z-index:1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: 0;
    border-radius: 10px;
}
#ContentLeft {
    left: 1%;
    overflow: hidden;
}
#ContentRight {
    left: calc(100% - 310px);
    overflow-x: hidden;
    overflow-y: scroll;
}
.tweet {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    font-size: 14px;
    background-color: hsla(197, 100%, 47%, 0);
    /*height: calc(100% / 7);*/
    min-height: 60px;
    /*background-color: #00adef;*/
    /*padding: 10px;*/
}
.tweet h3 {
    font-size: 16px;
    color: black;
    padding: 0;
    margin: 3px;
    height: 25px;
    position: relative;
    left: 5px;
}
.tweet h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 5px;
    font-weight: normal;
}
.tweetimg {
    width: 200px;
    position: relative;
    left: 50px;
    cursor: pointer;
}
.tweet h3 a {
    font-weight: normal;
    color: white;
}
.tweet h4 a {
    text-decoration: underline;
    color: white;
}
.tweetprofileimg {
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 40px;
    position: relative;
    float: left;
}
.tweet .date {
    font-size: 10px;
    top: -8px;
    left: 10px;
    position: relative;
}

#ErrorModal {
    background-color: black;
    color: red;
    text-align: center;
    position: absolute;
    max-height: 300px;
    max-width: 300px;
    width: 70%;
    height: 70%;
    z-index: 9;
    left: 15%;
    top: 15%;
    font-size: medium;
    display: none;
}

/* Mobile CSS */
#HeaderMobile, .MobileTweet {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    display: none;
    position: absolute;
    left: 0;
    user-select: none;
}
#HeaderMobile {
    color: white;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 6;
    background-color: black;
    position: fixed;
}

#MobileSearchBox {
    position: relative;
    float: left;
    left: 10px;
    top: 12px;
    height: 30px;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: white;
    background-image: url("images/search-icon.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
    font-family: 'Century Gothic';
    font-size: 16px;
}

#MobileTarget {
    position: relative;
    height: 40px;
    float: left;
    top: 6px;
    left: 10px;
}

#MobileTemperature {
    position: relative;
    float: right;
    right: 0px;
    font-size: 28px;
    color: grey;
}
#MobileTemperature img {
    margin-left: -7px;
}

#MobileTarget img {
    max-width: 100%;
    max-height: 100%;
}

#MobileTweets {
    height: 270px;  /* Change in functions.js  also */
    top: 60px;
    left: 0px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: hsla(0, 0%, 0%, 0.82);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.MobileTweet {
    position: relative;
    color: white;
    width: 100%;
    height: 265px;
    z-index: 7;
    top: 0px;
    left: 0px;
}

.MobileTweetContent {
    color: white;
    height: 260px;
    width: calc(100% - 90px);
    top: 10px;
    left: 7px;
    float: left;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
}

.MobileTweetActions {
    height: 250px;
}
.MobileTweetActions img {
    position: relative;
    left: 20px;
    top: 15px;
    width: 50px;
}

.MobileTweetProfileImage img {
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 50px;
    position: relative;
    top: 5px;
    left: 5px;
}

.MobileTweetUser {
    position: relative;
    top: -35px;
    left: 60px;
    color: darkgrey;
    font-size: 18px;
}

.MobileTweetText {
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 19px;
}

.MobileTweetTime, .MobileTweetApp {
    position: relative;
    left: 0;
    color: darkgrey;
    font-size: 16px;
    text-align: right;
    width: calc(100% - 5px);
}

.MobileTweetData {
    height: 200px;
    width: calc(100% - 10px);
}

#StatusBar {
    top: 0px;
    left: 0px;
    position:absolute;
    background-color: black;
    width: 100%;
    height: 20px;
}

#MobileRightMenu {
    width: 90px; /*  Change +- width in javascript swipe events also */
    left: 100%;
    top: 0;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.8);
    z-index: 8;
    position: absolute;
    display: none;
    text-align: center;
    color: white;
    font-size: 12px;
}

#MobileRightMenu img {
    width: 70px;
    margin-bottom: -10px;
}

#Starter {
    width: 100%;
    height: 100%;
    z-index: 40;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}

#MobileLeftMenu {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.8);
    z-index: 9;
    position: absolute;
    display: none;
    color: white;
    font-size: 18px;
    overflow: hidden;
}

#MobileFavorites {
    /*display: none;*/
    height: 0;
    background-color: hsla(0, 0%, 0%, 0.8);
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
#MobileFavorites div {
    align-content: center;
    text-align: center;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#EdgeTouchRight {
    background-color: hsla(0, 0%, 0%, 0.03);
    height: 100%;
    width: 6px;
    top: 0;
    left: calc(100% - 6px);
    position: absolute;
    z-index: 100;
    border: 1px solid black;
}
#EdgeTouchLeft {
    background-color: hsla(0, 0%, 0%, 0.03);
    height: 100%;
    width: 6px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 101;
    border: 1px solid black;
}
#EdgeTouchBottom {
    background-color: hsla(0, 0%, 0%, 0.03);
    height: 6px;
    width: 100%;
    top: calc(100% - 6px);
    left: 0;
    position: absolute;
    z-index: 102;
    border: 1px solid black;
}

.notitle .ui-dialog-titlebar { display:none; }

@media screen and (max-width: 600px) { /* Add min-width of 400px */
    #ContentLeft {
        display: none;
    }
    #ContentRight {
        display: none;
    }
    #GoogleMap {
        top: 60px;
    }
    #ServiceStatus {
        display: none;
    }
    #LoginSection {
        width: calc(100% - 40px);
        height: calc(100% - 100px);
        top: 60px;
        left: 0;
        border-radius: 0;
        display: none;
    }
    #LoginTable {
        top: 80px;
        position: relative;
    }
    #LoginTable td {
        padding: 5px;
    }
    .LoginInput input {
        /*width: 150px;*/
        border: 0px;
        border-radius: 5px;
        padding: 5px;
    }
    #LoginButton {
        width: 100px;
        border: 0;
    }
    #HeaderMobile, .MobileTweet {
        display: block;
    }
    #ErrorModal {
        font-size: large;
    }
    #Starter {
        /*display: block;*/
    }
}

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}